extends layout

block content
  h1= title
  p Welcome to #{title}
  ul#chat
  div.col-lg-6
    div.input-group
      input#okno.form-control(placeholder="type", onkeypress='getChar(event)')
      button.btn.btn-default(onclick='sendMessage()') send