doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='css/bootstrap.min.css')

  body
    block content
    script(src='js/jquery.min.js')
    script(src="/socket.io/socket.io.js")
    script(src='js/app.js')

